.navbar2-container {
  padding: 0.5rem 2rem;
  width: 100%;
  background-color: #fceef5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar2-item {
  display: flex;
  align-items: center;
}
.navbar2-item-pic {
  width: 20%;
}
.navbar2-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.3rem;
  font-weight: 200;
}
.navbar2-item-text h4 {
  color: #444;
}
